<ion-view view-title="AriGES - (c) Ariadna Software S.L.">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <ion-list>
            <div class="item item-divider item-positive">
                Cobros realizados
            </div>
        </ion-list>
        <ion-list>
            <ion-item ng-repeat="cobro in datos.cobros" class="item-text-wrap">
                <div>
                    <strong>Id: </strong> {{cobro.id}}
                    <strong> Agente:</strong> {{cobro.nomagent}}
                </div>
                <div>
                    <strong> Cliente:</strong> {{cobro.nommacta}} ({{cobro.razosoci}})
                </div>
                <div>
                    <strong>Fecha:</strong> {{cobro.fecha}}
                    <strong>Factura:</strong> {{cobro.codfaccl}}
                </div>
                <div>
                    <strong>F.Pago: </strong> {{cobro.nomforpa}}
                    <strong>Importe: </strong> {{cobro.importe}}
                </div>
                <div>
                    <strong>Observaciones: </strong> {{cobro.observa}}
                </div>
                <div class="text-right">
                    <button class="button" ng-click="borrarLinea(cobro)">
                        <i class="icon ion-trash-b"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
