<ion-view view-title="AriGesMov - (c) Ariadna Software S.L.">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding">
        <ion-list>
            <div class="item item-divider item-positive">
                Cobros realizados
            </div>
        </ion-list>
        <ion-list>
            <ion-item class="item-text-wrap row">
                <div class="col"><strong>Id</strong></div>
                <div class="col"><strong>Agente</strong></div>
                <div class="col"><strong>Fecha</strong></div>
                <div class="col"><strong>F.Pago</strong></div>
                <div class="col text-right"><strong>Importe</strong></div>
                <div class="col"><strong>Observaciones</strong></div>
                <div class="col"></div>
            </ion-item>
            <ion-item ng-repeat="cobro in datos.cobros" class="item-text-wrap row">
                <div class="col">{{cobro.id}}</div>
                <div class="col">{{cobro.nomagent}}</div>
                <div class="col">{{cobro.fecha}}</div>
                <div class="col">{{cobro.nomforpa}}</div>
                <div class="col text-right">{{cobro.importe}}</div>
                <div class="col">{{cobro.observa}}</div>
                <div class="col text-center">
                    <button class="button" ng-click="borrarLinea(cobro)">
                        <i class="icon ion-trash-b"></i>
                    </button>
                </div>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
