<ion-view view-title="AiGesMov - (c) Ariadna Software S.L.">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">URL Servicio API</span>
                <input type="text" placeholder="URL Servicio API" ng-model="config.urlApi">
            </label>
        </div>
        <button class="button button-block" ng-click="setConfig()">
            Aceptar
        </button>
        <a class="button button-block" href="#/tab/inicio">
            Salir
        </a>
    </ion-content>
</ion-view>
