<ion-view view-title="{{datos.cliente.nomclien}}">
    <ion-nav-buttons side="right">
        <a class="button" href="#/tab/clientes">
            <i class="icon ion-log-out"></i>
        </a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-list>
            <ion-item class="item-divider item-positive">
                Indicadores
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Ofertas: </strong> {{datos.indicadores.ofertas}}
                    </div>
                    <div class="col text-center">
                        <strong>Pedidos: </strong> {{datos.indicadores.pedidos}}
                    </div>
                    <div class="col text-center">
                        <strong>Albaranes: </strong> {{datos.indicadores.albaranes}}
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>S.Pendiente: </strong> {{datos.indicadores.saldoPendiente}}
                    </div>
                    <div class="col assertive">
                        <strong>S.Vencido: </strong> {{datos.indicadores.saldoVencido}}
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Situación: </strong> {{datos.cliente.situacio}}
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Agente: </strong> {{datos.cliente.nomagent}}
                    </div>
                    <div class="col">
                        <strong>F.Pago: </strong> {{datos.cliente.nomforpa}}
                    </div>
                </div>
            </ion-item>            
            <ion-item class="item-text-wrap">
                <div class="row">
                    <div class="col">
                        <strong>Limite de crédito: </strong> {{datos.cliente.limiteCredito}}
                    </div>
                    <div class="col">
                        <strong>Tipo crédito: </strong> {{datos.cliente.creditoPrivado}}
                    </div>
                </div>
            </ion-item>
            <ion-item class="item-text-wrap">
                <div>
                    <strong>Observaciones:</strong>
                    <p>{{datos.cliente.observac}}</p>
                </div>
            </ion-item>            
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Facturación anual
            </ion-item>
            <ion-item>
                <canvas id="bar" class="chart chart-line" data="data" labels="labels" legend="true" series="series" options="{showTooltips: false}"></canvas>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item class="item-divider item-positive">
                Cobros pendientes
            </ion-item>
            <ion-item ng-repeat="cobro in datos.cobros" class="item-text-wrap item-icon-left item-icon-right" ng-click="goCobro(cobro)">
                <i class="icon ion-ios-circle-filled" ng-class="{assertive: cobro.vencido}"></i>
                <div>
                    <div>
                        <strong>VEN: </strong> {{cobro.fechavenci}}
                        <strong>TIP: </strong> {{cobro.nomforpa}}
                    </div>
                    <div>
                        <strong>FAC: </strong> {{cobro.numfact}}
                        <strong>FEC: </strong> {{cobro.fechafact}}
                    </div>
                    <div>
                        <strong>IMP: </strong> {{cobro.total}}
                    </div>
                </div>
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>